body.player {
    background-color: $body-player-bkg;
    font-family: $ffamily2;


    .container {
        background-color: $container-player-bkg;
        box-shadow: 1px 1px 5px 1px $orange;
        position: relative;  
    }

    .change__icon {
        color: $white;
    }

    .card {
        &__boximg {
            width: 13rem;
            
            &.rotate {
                animation: rotation 8s infinite linear;
                box-shadow: 1px 1px 10px $green;
                border-radius: 50%;
            }
        }
        &__img {
            border-radius: 50%;
            width: 100%;
        }

        &__boxtext {
            opacity: 0;
            appearance: none;
            display: none;
            transition: all .5s linear;
        }

        &__boxothers {
            opacity: 0;
            appearance: none;
            display: none;
            transition: all .5s linear;
        }
    }

    // NOMES

    .artist {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translateX(-50%);
        opacity: 1;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__name {
            color: $name;
            font-size: 1.2rem;
            text-align: center;           
        }

        &__music {
            color: $music;
        }
    }

     // DURAÇÃO

     .timer {
        position: absolute;
        width: 75%;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 1;
        pointer-events: all;

        &__range {
            outline: none;
            overflow: hidden;
            appearance: none;
            -webkit-appearance: none;
            border-radius: 5px;
            width: 100%;
            height: .2rem;
            background-color: #484853;

            &:hover {
                cursor: pointer;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: .2rem;
                height: .2rem;
                border-radius: 50%;
                background: #fd0000;
                box-shadow: -400px 0 0 400px $green;
            }
        }
    }

    .duration {
        position: absolute;
        left: 50%;
        top: 62%;
        transform: translateX(-50%);
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $green;
        opacity: 1;
    
        span {
            font-size: .7rem;
        }
    }

    // VOLUME

    .volume {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 67%;
        gap: .5rem;
        opacity: 1;
        pointer-events: all;

        .fa-volume-low, .fa-volume-high {
            color: white;
            font-size: .7rem;
        }
        &__range {
            appearance: none;
            border-radius: 5px;
            // width: 100%;
            height: .2rem;
            background-color: #484853;

            &:hover {
                cursor: pointer;
            }
        }
    }

    // CONTROLES

    .controls {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 20%;
        justify-content: center;
        width: 100%;
        color: white;
        opacity: 1;
        pointer-events: all;

        &__icons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 12rem;
            
        }

        &__play {
            font-size: 2rem;
            color: #D6D6DF;
        }

        &__icon {
            font-size: 1.5rem;
            color: #7D4B8D;
            margin-left: 12px;
            background: -webkit-linear-gradient(#7D4B8D, #BC88B1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover {
                cursor: pointer;
            }
        }

        &__plays {
            position: absolute;
            // top: 10%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #393d68;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            overflow: hidden;
            &:hover {
                cursor: pointer;
            }

            &::before {
                content: '';
                width: 80px;
                height: 100%;
                background: var(--cor);
                filter: blur(1px);
                position: absolute;
                animation: anima 5s linear infinite;
                z-index: -2;
            }

            &::after {
                content: '';
                background-color: rgba(20, 20, 20);
                position: absolute;
                inset: 2px;
                border-radius: 50%;
                z-index: -1;
            }
        }
    }

    // WAVE

    .wave {
        position: absolute;
        width: 65%;
        height: 10%;
        top: 84%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;        
        
        opacity: 1;
        pointer-events: none;

        &.show {
            opacity: 1;
            pointer-events: none;
        }
        
        &__stroke {
            width: 5px;
            border-radius: 50px;
            transition: all .5s linear;

            &.show {
                animation: wave 1.4s linear infinite;
            } 
            &:nth-child(1) {
                animation-delay: 0s;
                background-color: hsl(178, 100%, 50%);
            }

            &:nth-child(2) {
                animation-delay: 0.2s;  
                background-color: hsl(178, 100%, 50%);

            }

            &:nth-child(3) {
                animation-delay: 0.4s;  
                background-color: hsl(178, 100%, 50%);

            }

            &:nth-child(4) {
                animation-delay: 0.6s; 
                background-color: hsl(178, 100%, 50%);
  
            }

            &:nth-child(5) {
                animation-delay: 0.8s; 
                background-color: #00d0ff;
            }

            &:nth-child(6) {
                animation-delay: 0.10s;
                background-color: hsl(178, 100%, 50%);

            }

            &:nth-child(7) {
                animation-delay: 0.30s;  
                background-color: hsl(178, 100%, 90%);
   
            }

            &:nth-child(8) {
                animation-delay: 0.12s;   
                background-color: hsl(178, 100%, 90%);
  
            }

            &:nth-child(9) {
                animation-delay: 0.20s;   
                background-color: hsl(178, 100%, 50%);
  
            }

            &:nth-child(10) {
                animation-delay: 0.28s;   
                background-color: hsl(178, 100%, 50%);
  
            }

            &:nth-child(11) {
                animation-delay: 0.6s;   
                background-color: hsl(178, 100%, 50%);
  
            }

            &:nth-child(12) {
                animation-delay: 0.4s;   
                background-color: hsl(178, 100%, 50%);
  
            }

            &:nth-child(13) {
                animation-delay: 0.2s;   
                background-color: hsl(178, 100%, 50%);
  
            }

            &:nth-child(14) {
                animation-delay: 0s;   
                background-color: hsl(178, 100%, 50%);  
            }
        }

        
    }

    // ICONS

    .icons {
        position: absolute;
        bottom: 1%;
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        pointer-events: all;
        
        &__icon {
            color: $white;
            font-size: 1.2rem;

            &:hover {
                cursor: pointer;
            }
        }

        &__hearts {
            color: $white; 

            &:hover {
                cursor: pointer;
            }
        }

        &__heart {
            position: absolute;
            right: 1%;
            font-size: 1.2rem;
            bottom: 1%;
            z-index: -1;
            
            &.show {
                color: $red; 
                animation: 2s ease-in-out like normal infinite;

            }

            &:nth-child(1) {
                // margin-left: 12px;
                animation-delay: 1.75s;
            }
            &:nth-child(2) {
                // margin-left: 22px;
                animation-delay: .55s;

            }
            &:nth-child(3) {
                // margin-right: 32px;
                animation-delay: .15s;
            }
            &:nth-child(4) {
                // margin-right: 32px;
                animation-delay: 1.5s;
            }
            &:nth-child(5) {
                // margin-right: 32px;
                animation-delay: 1.15s;
            }

        }

    }

    .musics {
        position: absolute;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -15%;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: $preto1;
        z-index: 100000;
        box-shadow: 0px 5px 10px rgb(104, 98, 98);

        transition: all .5s ease;
        
        &.show {
            opacity: 1;
            pointer-events: auto;
            bottom: 1%;   
        }

        &__close {
            color: $white;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 85%;
            margin-top: 5%;
            cursor: pointer;
        }

        &__singer {
            font-size: .9rem;
        }

        &__music {
            font-size: .7rem;
        }

        &__duration {
            font-size: .7rem;
        }


        &__list {
            list-style: none;
            width: 100%;
            padding: 1rem;
            max-height: 150px;
            overflow-y: auto;
           

           &::-webkit-scrollbar {
            width: 0px;
           }


            
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            border-bottom: 1px solid gray;
            padding: .5rem;
            
            &:hover {
                cursor: pointer;
                box-shadow: 1px 0px 10px 0px $green;
            }

        }
    }
    
    footer {
        opacity: 1;
        pointer-events: all;
        display: flex;
    }
}



@keyframes anima {
    0% {
        transform: rotate(0deg);
        // filter: hue-rotate(0deg) blur(15px) brightness(100%);
    }
    100% {
        transform: rotate(360deg);
        // filter: hue-rotate(360deg) blur(15px) brightness(100%);  
    }
}

@keyframes wave {
    0% {
        height: 0%;
    }

    25% {
        height: 50%;
    }

    75% {
        height: 100%;

    }
    50% {
        height: 20%;
    }

    100% {
        height: 0%;
    }
}

@keyframes like {
    0% {
        transform: rotate(50deg);
        opacity: 0;
    }
    50% {
        transform: rotate(-35deg);
        opacity: 1;
    }
    75% {
        transform: rotate(35deg);
    }
    100% {
        transform: rotate(50deg);
        opacity: 0;
        margin-bottom: 80%;
    }
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}